.metadata/.plugins/org.eclipse.m2e.core/nexus/4224f9664f70f6a30349cf0a79f374e9/write.lock
.metadata/.lock
*.cmd
/.metadata/

.metadata/.plugins/org.eclipse.core.resources/.history/2f/508bf70b5fb7001a1f6997745169e028
luckypay/.mvn/wrapper/maven-wrapper.jar
luckypay/.mvn/wrapper/maven-wrapper.properties